html, body {
    height: 100%;
    width: 100%;
    background-color: #003
}


* {
    padding: 0;
    margin: 0;
    font: italic normal bold 16px cursive;
    color: #b1ffff;
}
/*--------------------BANDEAU SUPERIEUR-----------------*/
.Bandeau_sup {
    
    display: grid;
    grid-template-rows: 100px 50px;
    grid-template-columns: 150px calc(100% - 415px) 265px;
    position: fixed;
    height: 150px;
    width: 100%;
    background-color: #000032;
    background-position: center;
}
.Part_photo {
    grid-column: 1 ;
    grid-row: 1 / 3;
    background-image: url("Images/Band_sup/BG_Photo.png");
    background-size: contain;
}

.Part_photo>img {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50%;
}

h1 {
    position: absolute;
    left: 150px;
    top:20px;
    width: calc(100% - 150px);
    font: italic normal bold 52px cursive;
    color: #AAF;
    text-align: center;
}


.Part_loco {
    grid-column: 3 ;
    grid-row: 2;
    background-image: url("Images/Band_sup/BG_Loco.png");
    background-size: contain;
    background-position: right;
}
.Part_train {
    grid-column: 2 ;
    grid-row: 2;
    background-image: url("Images/Band_sup/BG_Voiture.png");
    background-size: auto 50px;
    background-position: right;
}

.Part_fondu{
    grid-column: 2 ;
    grid-row: 2;
    background-image: url("Images/Band_sup/BG_Fondu.png");
    background-size: auto 50px;
    background-position: left;
    background-repeat: no-repeat;
}

/*--------------------MENU PRINCIPAL-----------------*/
.Menu_prime {
    position: fixed;
    overflow: auto none; 
    display: inline-block;
    top: 150px;
    height: 50px;
    width: 100%;
    background-image: url("Images/Menu_Prime/BG_H2_Barre.png");
    background-size: auto 50px;
}
.Menu_prime>ul {
    padding: 0;
    margin: 0;
    list-style: None;
    display: inline-block;
}

.MP_item {
    padding: 0;
    margin: 0;
    position: static;
    width:max-content;
    height: 50px;
    display: inline-block;
}

    

h2 {
    position: relative;
    height:50px;
    width:max-content;
    background-image: url("Images/Menu_Prime/BG_H2_C_Normal.png");
    background-size: auto 50px;
    background-position: center;
    margin: 0 40px 0 40px ;
    font: italic normal bold 20px cursive;
    color: #b1ffff;
}


h2::before {
    content: '';
    position: absolute;
    display: inline-block;
    width:40px;
    height:50px;
    left:-40px;
    background-image: url("Images/Menu_Prime/BG_H2_W_Normal.png");
    background-size: 40px 50px;
}

h2::after {
    content: '';
    position: absolute;
    display: inline-block;
    width:40px;
    height:50px;
    background-image: url("Images/Menu_Prime/BG_H2_E_Normal.png");
    background-size: 40px 50px;
}



.MP_I_Grid~ul {
    position: fixed;
    width: 300px;
    top:200px;
    text-align: left;
    overflow: auto; 
    background-position: center;
    visibility : hidden;
}




.MP_I_Grid:hover~ul {
    visibility : visible;
}
/*--------------------MENU SECONDAIRE-----------------*/
.MP_item>ul {
    list-style: None;
}

.MS_item {
    visibility : hidden;
    padding: 0;
    margin: 0;
}
    
.MP_I_Grid~ul:hover>.MS_item {
    visibility : visible;
}

.MP_I_Grid:hover~ul>.MS_item {
    visibility : visible;
}



.MS_I_Grid {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 25px calc(100% - 55px) 30px;
}
    
.MS_I_W {
    grid-column: 1 ;
    grid-row: 1;
    background-image: url("Images/Sous_Menu/BG_H3_W_Normal.png");
    background-size: 25px 30px;
    display: inline-block;
}

.MS_I_Grid:hover>.MS_I_W {
    background-image: url("Images/Sous_Menu/BG_H3_W_Hover.png");
}

.MS_I_C {
    grid-column: 2 ;
    grid-row: 1;
    background-image: url("Images/Sous_Menu/BG_H3_C_Normal.png");
    background-size: auto 30px;
    display: inline-block;
}

.MS_I_E {
    grid-column: 3 ;
    grid-row: 1;
    background-image: url("Images/Sous_Menu/BG_H3_E_Normal.png");
    background-size: 30px 30px;
    display: inline-block;
}

.MS_F_Grid {
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: 25px calc(100% - 55px) 30px;
}
    
.MS_F_W {
    grid-column: 1 ;
    grid-row: 1;
    background-image: url("Images/Sous_Menu/BG_H3_SW_Normal.png");
    background-size: 25px 25px;
    display: inline-block;
}


.MS_F_C {
    grid-column: 2 ;
    grid-row: 1;
    background-image: url("Images/Sous_Menu/BG_H3_S_Normal.png");
    background-size: auto 25px;
    display: inline-block;
}

.MS_F_E {
    grid-column: 3 ;
    grid-row: 1;
    background-image: url("Images/Sous_Menu/BG_H3_SE_Normal.png");
    background-size: 30px 25px;
    display: inline-block;
}
/*--------------------CARTE DE VISITE-----------------*/
.Carte_visite {
    position: fixed;
    height: calc(100% - 250px);
    width: 100%;
    top:200px;
    overflow: auto; 
}

.CV {
    position: fixed;
    height: calc(100% - 250px);
    width: 100%;
    top:200px;
    overflow: auto; 
}

.Colo_gauche {
    position: fixed;
    height: calc(100% - 250px);
    width: 250px;
    top:200px;
    overflow: hidden scroll; 
    scrollbar-width: none;
}

h4 {
    font: italic normal bold 24px cursive;
}


.H4_Grid {
    margin: 20px 0 10px 20px; /* haut droite bas gauche */
    width: max-content;
    height: 50px;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 35px calc(100% - 55px) 20px;
}
    
.H4_W {
    grid-column: 1 ;
    grid-row: 1;
    background-image: url("Images/Titre/BG_H4_W_Normal.png");
    background-size: 35px 50px;
    display: inline-block;
}


.H4_C {
    grid-column: 2 ;
    grid-row: 1;
    background-image: url("Images/Titre/BG_H4_C_Normal.png");
    background-size: auto 50px;
    display: inline-block;
}

.H4_E {
    grid-column: 3 ;
    grid-row: 1;
    background-image: url("Images/Titre/BG_H4_E_Normal.png");
    background-size: 20px 50px;
    display: inline-block;
}
p {
    font: italic normal bold 16px cursive;
    padding : 10px 30px 10px 30px;
    margin: 0; 
    text-align: justify;
}
p::first-letter {
    padding : 0 0 0 20px;
    margin: 0;
}
ul {
    list-style: inside url("Images/Puce.png");
    padding : 0 0 0 40px;
    margin: 0; 
}/*
li {
    font: italic normal bold 16px cursive;
    padding : 10px 30px 10px 0;
    margin: 0; 
}

li::first-letter {
    padding : 0 0 0 20px;
    margin: 0;

    */