:root {
    --color-a : #ffffff;
    --color-b : #b1ffff;
    --color-c : #0f86d2;
    --color-d : #000a9d;
    --color-e : #000032;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--color-e);
}


* {
    padding: 0;
    margin: 0;
    font: italic normal bold 16px cursive;
    color: var(--color-b);
}
/*--------------------BANDEAU SUPERIEUR-----------------*/
header {
    
    display: grid;
    grid-template-rows: 100px 50px;
    grid-template-columns: 150px calc(100% - 415px) 265px;
    position: fixed;
    height: 150px;
    width: 100%;
}
.Logo {
    grid-column: 1 ;
    grid-row: 1 / 3;
    background-image: url("../Images_Style/Space/Band_sup/BG_Photo.png");
    background-size: contain;
}

#Ma_photo {
    margin: 0 0 0 50px;
    border-radius: 50%;
}

#Mode_Change {
    position: absolute;
    top: 0;
    right: 0;
    width : 42px ; height: 27px;
    background-image: url("../Images_Style/Bn_Change_Mode_Normal.png");
    background-size: 100% 100%;
}

#Mode_Change:hover {
    background-image: url("../Images_Style/Bn_Change_Mode_Hover.png");
}


h1 {
    grid-row: 1 ;
    grid-column: 2 / 4 ;
    padding : 20px;
    font: normal bold 52px georgia;
    color: var(--color-c);
    text-shadow: var(--color-c) 0 0 20px; /* color | offset-x | offset-y | blur-radius */
    text-align: center;
    background-image: url("../Images_Style/Space/H1/BG.png");
    background-size: auto 100px;
    background-position: center;
    border: solid;
    border-width: 0 40px 0 40px;
    border-image: url("../Images_Style/Space/H1/BD.png") 0 40 0 40;
}


.Deco_A {
    grid-column: 3 ;
    grid-row: 2;
    background-image: url("../Images_Style/Space/Band_sup/BG_Deco_A.png");
    background-size: contain;
    background-position: right;
}
.Deco_B {
    grid-column: 2 ;
    grid-row: 2;
    background-image: url("../Images_Style/Space/Band_sup/BG_Deco_B.png");
    background-size: auto 50px;
    background-position: right;
}

.Deco_C{
    grid-column: 2 ;
    grid-row: 2;
    background-image: url("../Images_Style/Space/Band_sup/BG_Deco_C.png");
    background-size: auto 50px;
    background-position: left;
    background-repeat: no-repeat;
}

/*--------------------MENU PRINCIPAL-----------------*/
nav {
    position: fixed;
    overflow: auto none; 
    top: 150px;
    height: 50px;
    width: 100%;
    background-image: url("../Images_Style/Space/H2/BG_Barre.png");
    background-size: auto 50px;
    z-index: 2;
}
.Menu_prime>ul {
    padding: 0;
    margin: 0;
    list-style: None;
    display: inline-block;
}

nav>ul>li {
    padding: 0;
    margin: 0;
    position: static;
    height: 50px;
    display: inline-block;
}


h2 {
    width: max-content;
    font: normal bold 20px georgia;
    color: var(--color-a);
    height: 30px;
    border: solid;
    border-width: 10px 25px 10px 25px;
    border-image: url("../Images_Style/Space/H2/BD_Normal.png") 20 50 20 50;
    background-color: var(--color-e);
}

nav>ul>li:hover h2 {
    color: var(--color-e);
    border-image: url("../Images_Style/Space/H2/BD_Hover.png") 20 50 20 50;
    background-color: var(--color-a);
}



h2~ul {
    position: fixed;
    width: 300px;
    top:200px;
    text-align: left;
    overflow: auto; 
    visibility : hidden;
    

}


nav>ul>li:hover ul {
    visibility : visible;
}



/*--------------------MENU SECONDAIRE-----------------*/
nav>ul>li>ul {
    list-style: None;
    width: max-content;
}

h2~ul>li {
    padding: 0;
    margin: 0 0 0 25px;
    border: solid;
    border-width: 0 50px 0 30px;
    border-image: url("../Images_Style/Space/H3/BD_Normal.png") 0 40 0 60;
    background-color: rgba(0 0 0 0);
}

h2~ul>li:last-child {
    padding: 0;
    margin: 0 0 0 25px;
    border: solid;
    border-width: 0 50px 40px 30px;
    border-image: url("../Images_Style/Space/H3/BD_Last_Normal.png") 0 40 80 60;
    background-color: rgba(0 0 0 0);
}

  
h3 {
    height: 30px;
    background-color: var(--color-e);
}

h3>a {
    font: normal bold 16px georgia;
    color: var(--color-a);
    text-decoration: none;
}

h2~ul>li:hover a {
    font: normal bold 16px georgia;
    text-decoration: none;
    color: var(--color-b);
    text-shadow: var(--color-a) 0 0 10px;
}


h2~ul>li:hover {
    border-image: url("../Images_Style/Space/H3/BD_Hover.png") 0 40 0 60;
}

h2~ul>li:last-child:hover {
    border-image: url("../Images_Style/Space/H3/BD_Last_Hover.png") 0 40 80 60;
}


/*--------------------CARTE DE VISITE-----------------*/

h4 {
    color: var(--color-a);
    font: normal bold 24px georgia;
    width: max-content;
    height: 35px;
    border: solid;
    border-width: 0px 20px 15px 35px;
    border-image: url("../Images_Style/Space/H4/BD.png") 0 40 30 70;
    background-size: auto 50px;
    margin: 40px 0 10px 5%;
}

h5 {
    color: var(--color-a);
    font: normal bold 20px georgia;
    margin : 20px 0 10px 7%;
}



section {
    position: fixed;
    width: 100%;
    top:200px;
    height: calc(100% - 300px);
    padding: 50px 0 50px 0 ;
    overflow: hidden auto; 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 0;
}

section::-webkit-scrollbar {
  display: none; /* Chrome */
}


.Fondu::before {
    content:"";
    position: fixed;
    width: 100%;
    top:200px;
    left:0;
    height: 50px;
    background-image: url("../Images_Style/Space/Fondu_Sup.png");
    background-size: auto 50px;
}
.Fondu::after {
    content:"";
    position: fixed;
    width: 100%;
    top: calc(100% - 50px);
    left:0;
    height: 50px;
    background-image: url("../Images_Style/Space/Fondu_Inf.png");
    background-size: auto 50px;
}

.Colo_gauche {
    position: fixed;
    height: calc(100% - 300px);
    width: 300px;
    top:200px;
    padding: 50px 0 50px 20px ;
    overflow: hidden auto; 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Colo_gauche::-webkit-scrollbar {
  display: none; /* Chrome */
}



.Colo_droite {
    position: fixed;
    height: calc(100% - 300px);
    width: calc(100% - 350px);
    top:200px;
    Left:350px;
    padding: 50px 0 50px 0 ;
    overflow: hidden scroll; 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Colo_droite::-webkit-scrollbar {
  display: none; /* Chrome */
}

    
.Separation {
    position: fixed;
    height: calc(100% - 300px);
    width: 35px;
    top:200px;
    Left:300px;
    background-image: url("../Images_Style/Space/Separation.png");
    background-size: 35px auto;
    padding: 50px 0 50px 0 ;
}



img:not(.hors_style){
    border: solid 20px;
    border-image: url("../Images_Style/Space/Img/BD.png") 79;
    background-color: #FFFFFF;
}

img.grande{
    width: 800px; 
    margin: 5px 10% 5px 10%;      
}
img.petite{ 
    width: 150px;
    margin: 5px 1% 5px 1%;
}


img.logo {
    position: relative;
    top:8px;
    height: 30px;
    width: 30px;
    margin: 0 15px 0 5px;
}

img.Img_Py{ 
    width:500px;
    margin: 5px 10% 5px 10%;   
    
}
img.Img_VBA{ 
    margin: 5px 10% 5px 10%;   
    
}



p, li {
    font: italic normal bold 16px cursive;
    padding : 5px 10% 5px 10%;
    margin: 0; 
    text-align: justify;
}
p::first-letter {
    padding : 0 0 0 20px;
    margin: 0;
}
ul {
    list-style: inside url("../Images_Style/Space/Li/Puce.png");
    padding : 0;
    margin: 0; 
}
    

li::first-letter {
    padding : 0 0 0 10px;
    margin: 0;
}


pre {
    margin : 5px 10% 5px 10%;
}

code {
    color:var(--color-a);
    font: normal 16px courier;
}

em.kw_A {
    color: #50FF50;
    font: normal 16px courier;
}

em.kw_B {
    color: #CCCC50;
    font: normal 16px courier;
}

em.kw_C {
    color: #FF9090;
    font: normal 16px courier;
}

em.Comment {
    color: #9090B0;
    font: normal 16px courier;
}